body > * {
    font-family: 'Roboto', sans-serif;
}

.notes {
    display: none;
}

.panel {
    background-color: #ddd;
}

.panel h2 {
}

.step h2 {
    font-size: 78px;
    font-weight: bold;
}

#title {
    text-align: center;
}

#title h1 {
    font-size: 3em;
}

.subtitle {
    text-indent: 2.2em;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font-size: 35px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

ul {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font-size: 35px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ul ul {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rectangle-list span {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: transparent;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list span:hover {
    background: #eee;
}

.rectangle-list span:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: transparent;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
}

ul.rectangle-list span:before {
    content: "#";
}

.rectangle-list span:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list span:hover:after {
    left: -.5em;
    border-left-color: #999;
}

.orange,
.rectangle-list span.orange:before {
    background-color: #8156a7;
}

.rectangle-list span.orange:hover:after {
    border-left-color: #8156a7;
}

.yellow,
.rectangle-list span.yellow:before {
    background-color: #008ed5;
}

.rectangle-list span.yellow:hover:after {
    border-left-color: #008ed5;
}

.green,
.rectangle-list span.green:before {
    background-color: #e04f4a;
}

.rectangle-list span.green:hover:after {
    border-left-color: #e04f4a;
}

.blue,
.rectangle-list span.blue:before {
    background-color: #e9ac5e;
}

.rectangle-list span.blue:hover:after {
    border-left-color: #e9ac5e;
}

.light,
.rectangle-list span.light:before {
    background-color: #e5e7e1;
}

.rectangle-list span.light:hover:after {
    border-left-color: #e5e7e1;
}

.dark,
.rectangle-list span.dark:before {
    background-color: #909090;
}

.rectangle-list span.dark:hover:after {
    border-left-color: #909090;
}

img {
    max-width: 100%;
}

[agenda] {
    width: 500px;
}

[logo] {
    width: 480px;
    height: 480px;
}
